:root{
 --white: #ffffff;
 --black: #000000;
 --blu: #0084FD;
 --azzurro: #B5DDFF;
 --viola: #9792E4;
 --arancio: #FDC15F;
 --footer: #333333;
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debag{
    border: 1px solid black;
    min-height: 50px;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

/*header*/
header{
    background-color: var();
    color: var();
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
}
.btn{

}
.main-menu{
    display: none;
}
header a{
    color: var();
    text-decoration: none;
}
/* main*/
#planning, #features, #get-started{
    background-color: var();
}
#intro{
    padding: 0 2rem; 
}
.card{
    background-color: var();
    margin-bottom: 1.5rem;
}

/*footer*/
footer{
    background-color: var();
}

/*responsive*/

@media screen and (min-width: 768px)  {
    .container{
        max-width: 750px;
    }
    #intro .cards{
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        width: calc((100% / 3) - 1.5rem);
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: (33.33% - 1.5rem);
    }
    #intro .card:first-child{

    }
}